#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  z-index: 999;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  box-shadow: 0px 1px 0px 0px rgba(139, 139, 139, 0.2);
}

#navbar_bot {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  z-index: 999;
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  box-shadow: 0px 1px 0px 0px rgba(139, 139, 139, 0.2);
}

.navitems {
  padding-right: 12.28vw;
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 3vw;
}

.nav-item a:hover {
  color: #808080 !important;
}

.topbartext {
  margin-right: 3vw;
  font-size: 20px;
}

.logo_mobile_bar {
  display: none;
}

.logo_bar {
  width: 49.55px;
  height: 49.55px;
  margin-left: 250%;
}

.navlink {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  color: black;
}

.bartext {
  /* position: absolute; */
  /* margin-left: 200px; */
  position: relative;
  margin-left: 700px;
}

.nav_content {
  display: none;
}

.logo_mobile_bar_bot {
  display: none;
}

.nav_content_bot {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #navbar {
    box-shadow: none;

    height: 60px;
    z-index: 999;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }

  #navbar_bot {
    background-color: #ffffff;
  }

  #navbar_bot_toggle {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: top;
    padding-top: 10px;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    z-index: 999;
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    box-shadow: 0px 1px 0px 0px rgba(139, 139, 139, 0.2);
  }

  .logo_bar {
    display: none;
  }

  .topbartext {
    display: none;
  }

  .logo_mobile_bar {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 7vw;
  }

  .logo_mobile_bar_bot {
    display: none;
  }

  .navitems {
    display: none;
  }

  .nav_content {
    display: flex;
    /* padding-right: 6vw; */
  }

  .nav_content_bot {
    display: block;
  }

  .menu_dropdown {
    width: 30px;
  }

  .dropdown-item {
    margin-top: 7px;
    text-decoration: none;
    text-align: end;
    color: #ffffff;
  }

  .dropdown-item a {
    color: #ffffff;
  }

  .dropdown-item:hover {
    background-color: transparent;
    color: #ffffff;
  }

  .dropdown-item:focus {
    background-color: transparent;
    color: #ffffff;
  }

  .dropdown-item:active {
    background-color: transparent;
    color: #ffffff;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
  }

  .topbar_text_black {
    color: black;
  }
}
